i{{ define "main" }}
  <div class="timeline">
  {{ range .Pages.ByDate.Reverse }}
    <div class="timeline-item">
      <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
      <div class="summary">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Params.description }}</p>
        {{ with .Resources.Match "*.jpg" | first 1 }}
          {{ $thumb := (.Fill "400x") }}
          <a href="{{ (index .Page.Resources.Match "*.jpg" 0).RelPermalink }}">
            <img src="{{ $thumb.RelPermalink }}" alt="preview">
          </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}
