.timeline {
  position: relative;
  margin: 2rem 0;
  &-item {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 3rem;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.5rem;
      width: 6px;
      height: 6px;
      background: currentColor;
      border-radius: 50%;
    }
    .date {
      font-size: 0.9rem;
      color: gray;
    }
    .summary {
      margin-top: 0.3rem;
    }
  }
}
